<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Meu Primeiro Portal Spring Boot</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1>Meu Primeiro Portal</h1>
            
            <nav>
            <a href="/perfil">Perfil</a>
            <a href="/portal">Página Inicial</a>
            <a href="/servicos">Serviços</a>
            <a href="/contato">Contato</a>
            
            </nav>
            
        </header>
        
        <main>
            <p>MVC é o conjunto total de controles sobre o projeto.</p>
          
            <p>Model(Bean): Guarda as variáveis;</p>
            <p>View: Visualização das interfaces gráficas;</p>
            <p>Controller(DAO): gerenciamento total, principalmente as funções dos dados,</p>
            <p>que irá conectar o Bean e o banco de dados.</p>
            

   
        </main>
           
    </body>    
</html>
